Options +FollowSymLinks
#Options +SymLinksIfOwnerMatch
IndexIgnore */*
RewriteEngine on
#RewriteBase /~gg/gg/
# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
php_value upload_max_filesize 12M
php_value post_max_size 12M
# otherwise forward it to index.php
RewriteRule . index.php